/* Estilos para el contenedor de películas */
.movie-container {
    text-align: center;
    background-color: #f0f0f0; /* Color de fondo */
    padding: 20px; /* Espaciado interior */
}

/* Estilos para las filas de películas */
.movie-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px; /* Espaciado negativo para compensar los márgenes internos de las películas */
}

/* Estilos para cada película */
.movie {
    margin: 10px;
    text-align: center;
    width: 200px; /* Ancho de cada película */
    min-height: 200px; /* Altura mínima */
}

img {
    max-width: 100%;
    max-height: 100%; /* Altura máxima del 100% del contenedor padre */
    width: auto; /* Ancho ajustado automáticamente para mantener la proporción */
}

h2 {
    font-size: 18px; /* Tamaño del título de la película */
    margin: 5px 0;
}

.category {
    font-family: 'Gabarito', cursive;
}
